@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font-size' as *;

.projects {
  padding-bottom: 4rem;
  background-color: $salmon;
  &__background {
    height: 3.5rem;
    width: 100%;
    background-color: $salmon;
    @include section-padding;
    padding-top: 0;
    @include slant(bottom left, -5deg, -1.25rem);
  }
  &__heading {
    font-size: 1.65rem;
    color: $white;
    text-align: right;
  }
  &__container {
    @include flex-column;
    background-color: $salmon;
  }
}

#projects {
  scroll-margin-block-start: 4.5rem;
}