@use './breakpoints' as *;

@mixin page-title {
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin navlinks {
  font-size: 0.8125rem;
  font-weight: 300;
  &:hover {
    font-weight: 500;
  }
}

@mixin section-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

@mixin subheading {
  font-size: 1.25rem;
  font-weight: 500;
}

@mixin body-large {
  font-size: 0.875rem;
  font-weight: 300;
}

@mixin body-medium {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}