@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin section-padding {
  padding: 1rem 2.75rem;
}

@mixin section-border-padding {
  padding: 1rem 2rem;
}

@mixin border-padding {
  padding: 0.7rem;
}