@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font-size' as *;
@use '../../styles/breakpoints' as *;

.header {
  padding: 1rem;
  background-color: $eggshell;
  @include flex(space-between, center);
  @include slant(top left, 6deg, 0rem);
  &:after {
    @include desktop {
      transform: skewY(3deg);
    }
  }
  @include tablet {
    padding: 1.5rem 2.5rem 2rem;
  }
  @include desktop {
    padding: 1.5rem 2.5rem 3rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include tablet {
      gap: 1.75rem;
    }
  }
  &__nav-list {
    display: flex;
    padding: 0;
    gap: 1rem;
    @include tablet {
      gap: 1.75rem;
    }
  }
  &__nav-item {
    list-style-type: none;
    @include navlinks;
    color: $salmon;
  }
  &__nav-link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
  &__menu-icon {
    height: 1.5rem;
    filter: invert(77%) sepia(18%) saturate(2659%) hue-rotate(307deg) brightness(91%) contrast(100%);
    &:hover {
      filter: invert(40%) sepia(33%) saturate(1039%) hue-rotate(316deg) brightness(108%) contrast(100%);
    }
  }
}