@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font-size' as *;
@use '../../styles/breakpoints' as *;

.footer {
  background-color: $eggshell;
  @include section-padding;
  padding-bottom: 3.5rem;
  @include slant(bottom right, 2.5deg, 0rem);
  z-index: 1;
  &__heading {
    color: $salmon;
    position: relative;
    @include tablet {
      top: -2rem;
    }
    @include desktop {
      top: -3rem;
    }
  }
  &__content {
    @include flex (space-between, start);
    padding-top: 0.75rem;
    position: relative;
    @include tablet {
      width: 20rem;
      top: -2rem;
    }
    @include desktop {
      top: -3rem;
    }
  }
  &__info {
    @include flex-column;
    padding-top: 0.25rem;
  }
  &__name {
    color: $salmon;
    @include footer-copy; 
    padding-bottom: 0.25rem;
  }
  &__address {
    color: $salmon;
    @include footer-copy; 
  }
  &__socials {
    @include flex(start, center);
    gap: 0.6rem;
  }
  &__icon {
    height: 1.5rem;
    filter: invert(76%) sepia(43%) saturate(2436%) hue-rotate(309deg) brightness(96%) contrast(89%);
  }
}