@use './styles/variables' as *;
@use './styles/font-size' as *;
@use './styles/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  @include page-title;
  color: $red;
}

h2 {
  @include section-heading;
  color: $taupe-grey;
}

h3 {
  @include subheading;
}

p {
  @include body-large;
  color: $taupe-grey;
}

.page {
  height: 100vh;
  @include flex-column;
}