@use './styles/variables' as *;
@use './styles/font-size' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  @include page-title;
  color: $red;
}

h2 {
  @include section-heading;
  color: $taupe-grey;
}

p {
  @include body-large;
  color: $taupe-grey;
}